<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.china.mapper.UserMapper">
	
	<select id="findUserById" parameterType="int" resultType="com.china.pojo.User">
		select * from user where id = #{id}
	</select>
	<select id="findUserByName" parameterType="String" resultType="com.china.pojo.User">
		select * from user where name like concat(concat('%',#{name}),'%')
	</select>
	<select id="deleteUserById" parameterType="int">
		delete from user where id = #{id}
	</select>	
	
	<select id="insertUser" parameterType="com.china.pojo.User">
		insert into user(name,address,sex) value(#{name},#{address},#{sex})
	</select>
	<select id="updateUserById" parameterType="com.china.pojo.User">
		update user set name=#{name} where id = #{id}
	</select>
	<select id="findUserCount" resultType="int">
		select count(*) from user
	</select>
</mapper>